@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

@layer base {
  .layout {
    @apply w-full grid grid-rows-layout;
  }
  .center {
    @apply flex justify-center items-center;
  }
  .col {
    @apply flex flex-col;
  }
  .readerLinkHover {
    @apply hover:bg-white hover:bg-opacity-10 hover:disabled:bg-opacity-0 disabled:text-gray-500;
  }
  .title {
    @apply text-3xl text-gray-800;
  }
  .iconBtn {
    @apply p-1 bg-gray-300 hover:scale-105;
  }
  .slide {
    position: fixed;
    top: 0;
    left: -380px; /* Initially hidden outside the container */
    width: 380px;
    height: 100%;
    background-color: #fff;
    transition: slideAnimation 2s ease; /* Adding smooth sliding animation */
    will-change: transform;
  }
  .cardTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 35px 5px 5px;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0.01)
    );
    text-shadow: 0 1px rgba(0, 0, 0, 0.7);
    overflow: hidden;
  }
  @keyframes slideAnimation {
    from {
      left: -380px;
    }
    to {
      left: 0;
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f3;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  box-shadow: inset 0 0 2px grey;
  border-radius: 1px;
}
